# ROS 2 ignore files
install/
build/
log/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# C++
*.o
*.so
*.a

# Editor backups
*~
*.swp
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Documentation
docs/_build/
